input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

#form-container {
    display: none;
}

#book-form label, #book-form input {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px 20px;
    border: 1px solid black;
}

.grid-item {
    border: 1px solid black;
}